body {
    background: #141e38;
}

.card:nth-child(1) {
    background:
        radial-gradient(transparent, #00000050),
        url('https://as2.ftcdn.net/v2/jpg/02/61/38/09/1000_F_261380978_NmorUnT6lXRBxubNtS6Y8vsW1BC7Xmzk.jpg');
    background-size: cover;
}

.card:nth-child(2) {
    background:
        radial-gradient(transparent, #00000050),
        url('https://www.bu.edu/files/2018/12/forest-snowpack.jpg');
    background-size: cover;
}

.card:nth-child(3) {
    background:
        radial-gradient(transparent, #00000050),
        url('https://storage.googleapis.com/pod_public/1300/136194.jpg');
    background-size: cover;
}

.card:nth-child(4) {
    background:
        radial-gradient(transparent, #00000050),
        url('https://i.pinimg.com/originals/30/01/6b/30016bcfe8288a17df830603966ef8ac.jpg');
    background-size: cover;
}